<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title.error %></title>
</head>
<body>
    <%= error.message %>
    <br/>
    <%= error.status %>
    <br/>
    <%= error.stack %>
</body>
</html>